/* You can add global styles to this file, and also import other style files */

@import "semantic-ui-css/semantic.css";

.ui.modal {
  top: unset !important;
  left: unset !important;
  height: unset !important;
}

.searchmatch {
  font-weight: bold;
  text-transform: uppercase;
}
