<h1 class="text-center mb-3">Modern Angular Bootcamp Projects</h1>


<a routerLink="/pswd-generator" class="d-block mb-3">Password Generator</a>
<a routerLink="/typing" class="d-block mb-3">Typing Challenge</a>

<a routerLink="/pipes" class="d-block mb-3">Pipes</a>

<a routerLink="/beaches" class="d-block mb-3">Beaches</a>

<a routerLink="/m" class="d-block mb-3">Modules</a>

<a routerLink="/wsearch" class="d-block mb-3">Wikipedia Search</a>



<!-- <h1 *onlyForScreen="'mobile'">This is for mobile</h1>
<h1 *onlyForScreen="'tablet'">This is for tablet</h1>
<h1 *onlyForScreen="'desktop'">This is for desktop</h1> -->
